// Gabarito Font
@font-face {
    font-family: gabarito;
    src: url(/assets/css/fonts/gabarito.ttf);
}

// Fade in Animation
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        top: -50vh;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

// General Styles
:host ::ng-deep {

    font-family: gabarito;

    .fade-in-animation {

        animation: fadeInAnimation ease;
        animation-duration: 1.2s;

    }

}