<table class="data-table fade-in-animation">

    <div class="search-container">
        <input (input)="filterCityPostsByName()" [(ngModel)]="filterCityPostValue" type="text" placeholder="Search by city name" class="custom-input">
    </div>
    
    <tr class="table-header">
        <th>ID</th>
        <th>City</th>
        <th>Creation Date</th>
        <th>Update Date</th>
        <th>Actions</th>
    </tr>
    <tr class="table-row" *ngFor="let cityPost of filteredCityPosts; trackBy: trackByFn">
        <td>{{ cityPost.id }}</td>
        <td>{{ cityPost.title }}</td>
        <td>{{ cityPost.created_at | date: 'medium' }}</td>
        <td>{{ cityPost.updated_at | date: 'medium' }}</td>
        <td class="actions-cell">
            <a class="details-link" [routerLink]="['../details', cityPost.id]" [relativeTo]="route">Details</a>
            <a class="delete-link" (click)="alertToDelete( cityPost.id )">Delete</a>
        </td>
    </tr>
    
</table>