.edit-container {

    display: flex;
    flex-direction: column;
    row-gap: 2em;
    height: 100%;

    .title-container {

        display: flex;
        row-gap: 1em;
        column-gap: 1em;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 100%;

        .title {
            margin: 0px;
        }

    }

    .img-banner {

        display: flex;
        row-gap: 1em;
        column-gap: 2em;

        .frame-picture-container {

            display: flex;
            flex-direction: column;
            row-gap: 1em;

        }

    }

    .lat-long-container {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 1em;
        column-gap: 1em;

    }

    .map-section {

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        height: 100%;

        h2 {
            margin: 0px;
            text-align: end;
        }

        .map-parent {

            flex-grow: 1;

            .map-container {

                width: 100%;
                min-height: 400px;
                height: 100%;
                border: 2px solid var(--white);
                border-radius: var(--border-radius);

            }

        }

    }

}

.fade-in-animation {

    animation-duration: 0.5s;

}