<div class="details-container fade-in-animation">

    <ng-container *ngIf="cityPost">

        <div class="title-container">

            <h1 class="title">{{ cityPost.title }}</h1>
            <button class="pcc-button" [routerLink]="['../../edit', cityPost.id]" [relativeTo]="route"><i class="bi bi-brush"></i> Edit</button>

        </div>
    
        <div class="img-banner">

            <pcc-frame-picture [image_url]="cityPost.image_url"></pcc-frame-picture>
            <p class="content">{{ cityPost.content }}</p>
        
        </div>

    </ng-container>

    <section class="map-section">

        <h2>Lost? Take a look at the map</h2>
        <div class="map-parent">
            <div #mapContainer class="map-container"></div>
        </div>

    </section>

</div>