::ng-deep body.city-sights {

    --border-radius: 25px;

    // Colors
    --background-color: #849da8;
    --dashboard-background-color-primary: #275666;
    --dashboard-background-color-secondary: #2b2a2b;
    --black: #111111;
    --white: #ffffff;
    --red: #b90000;
    --blue: #35829c;

}