<p>This project has been developed using the Angular framework and SCSS for the styles.</p>
<p>I have also used the following resources:</p>

<ul>
    <li>
        Logo by <a href="https://icons8.com/" target="_blank">Icons8</a>.
    </li>
    <li>
        Icons by <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap icons</a>.
    </li>
    <li>
        Map by <a href="https://leafletjs.com/" target="_blank">Leaflet</a>.
    </li>
    <li>
        Alerts by <a href="https://sweetalert2.github.io/" target="_blank">SweetAlert2</a>.
    </li>
</ul>